<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <title>Lista Lugares</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/viajes}">Viajes  </a>
        </li>
        <div>       </div>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/mascotas}">Mascotas    </a>
        </li>
        <div>      </div>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/lugares}">Lugares   </a>
        </li>
      </ul>
    </div>
  </div>
</nav>




<main>
  <div class="container px-4 py-5">
    <h1 class="pb-2 border-bottom">Lista Lugares</h1>

    <a class="btn btn-primary mb-4" th:href="@{'/lugares/new'}">Nuevo Lugar</a>
    <table class="table">
      <tr>
        <th># de lugar</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>fecha lugar</th>


        <th></th>
        <th></th>
      </tr>
      <tr th:each="lugar, info : ${lista}">
        <td th:text="${info.index + 1}"></td>
        <td th:text="${lugar.nombre_lugar}"></td>

        <td><a class="btn btn-primary"
               th:href="@{'/mascotas/edit?id=' + ${mascota.idMascotas}}">Editar</a>
        </td>
        <td><a class="btn btn-danger"
               th:href="@{'/mascotas/delete?id=' + ${mascota.idMascotas}}">Borrar</a>
        </td>

      </tr>
    </table>
  </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>




</body>
</html>